## Importação, Análises Gerais e Transformação dos Dados

### Bibliotecas

In [12]:
import pandas as pd

### Importando dataset

In [13]:
df = pd.read_csv("../data/Insurance_claims_event_log_V1.csv", sep=',', decimal=',')

### Análises gerais
Head, Tail, datatypes, data columns, entries, count nulls, uniques

In [30]:
df.head()

,case_id,activity_name,timestamp,claimant_name,agent_name,adjuster_name,claim_amount,claimant_age,type_of_policy,car_make,car_model,car_year,type_of_accident,user_type
0,a626bc58-a7b2-4eff-aca9-2a622cd0c492,First Notification of Loss (FNOL),2020-09-24 14:08:42.423530,Karen Lopez,Thomas Cantu,Ian Garcia,1914.96,75,Collision,Honda,Civic,2012,Rollover,RPA
1,a626bc58-a7b2-4eff-aca9-2a622cd0c492,Assign Claim,2020-10-13 03:51:28.627923,Karen Lopez,Thomas Cantu,Ian Garcia,1914.96,75,Collision,Honda,Civic,2012,Rollover,RPA
2,a626bc58-a7b2-4eff-aca9-2a622cd0c492,Claim Decision,2020-10-14 22:30:14.948970,Karen Lopez,Thomas Cantu,Ian Garcia,1914.96,75,Collision,Honda,Civic,2012,Rollover,RPA
3,a626bc58-a7b2-4eff-aca9-2a622cd0c492,Set Reserve,2020-10-24 11:49:39.053890,Karen Lopez,Thomas Cantu,Ian Garcia,1914.96,75,Collision,Honda,Civic,2012,Rollover,RPA
4,a626bc58-a7b2-4eff-aca9-2a622cd0c492,Payment Sent,2020-10-27 05:46:04.378718,Karen Lopez,Thomas Cantu,Ian Garcia,1914.96,75,Collision,Honda,Civic,2012,Rollover,RPA

In [ ]:
df.tail()

In [25]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   case_id           180000 non-null  object
 1   activity_name     180000 non-null  object
 2   timestamp         180000 non-null  object
 3   claimant_name     180000 non-null  object
 4   agent_name        180000 non-null  object
 5   adjuster_name     180000 non-null  object
 6   claim_amount      180000 non-null  object
 7   claimant_age      180000 non-null  int64
 8   type_of_policy    180000 non-null  object
 9   car_make          180000 non-null  object
 10  car_model         180000 non-null  object
 11  car_year          180000 non-null  int64
 12  type_of_accident  180000 non-null  object
 13  user_type         180000 non-null  object
dtypes: int64(2), object(12)
memory usage: 19.2+ MB

None

In [42]:
df['claim_amount'] = df['claim_amount'].astype(float)

df.describe()

        claim_amount   claimant_age       car_year
count  180000.000000  180000.000000  180000.000000
mean     5498.598991      51.510233    2016.034367
std      2601.273015      19.691143       3.745014
min      1000.280000      18.000000    2010.000000
25%      3242.482500      34.000000    2013.000000
50%      5498.965000      52.000000    2016.000000
75%      7758.817500      69.000000    2019.000000
max      9999.470000      85.000000    2022.000000

In [ ]:
print("Unicos de ACTIVITY", df['activity_name'].unique())
print("\nUnicos de MODELO CARRO", df['modelo_carro'].unique())
print("\nUnicos de TIPO DE ACIDENTE", df['tipo_de_acidente'].unique())
print("\nUnicos de TIPO DE POLITICA", df['tipo_de_politica'].unique())

In [ ]:
display(df['activity_name'].unique())